/kelompok-1-Tensor/     @NobelNizam
/kelompok-2-Poisson/    @ketua2
/kelompok-3-Markov/     @ketua3
/kelompok-4-Anova/      @ketua4
/kelompok-5-Pandas/     @ketua5
/kelompok-6-Jordan/     @ketua6
/kelompok-7-Jacobi/     @ketua7
/kelompok-8-Greedy/     @ketua8
/kelompok-9-Cosval/     @ketua9
/kelompok-10-Bayessian/ @ketua10